

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 270px;
  background-color: orange;
  margin-bottom: 20px;
  position: relative;
    
}
.search-container input[type="text"] {
  padding: 10px;
  border: none;
  width: 100%;
  font-size: 16px;
}

.girls{
  position: absolute;
  height: 100%;
  right: 30px;
  
}
.man{
  position: absolute;
  
  height: 100%;
  left: 30px;
  
}

.girls:hover{
  transform: scale(1.09);
  transition: 0.3s;
}
.man:hover{
  transform: scale(1.09);
  transition: 0.3s;
}


.call-to-search p{
  margin-bottom: 10px;
  color: #fff;
}



@media screen and (max-width: 600px) {
  .search-container {
    height: 150px;
    font-size: 10px;
  }
  
  .search-container input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    font-size: 10px;
  }
  
  .search-container button[type="submit"] {
    margin-left: 0px;
  }
  .girls{
    width: 33%;
    height: 60%;
    position: absolute;
    
    right: 0px;
    
    
  }
  .man{
    width: 23%;
    height: 60%;
    position: absolute;
    
    
    left: 1
    0px;
  }
 
}

@media screen and (max-width: 860px) {
  .search-container {
    height: 150px;
    font-size: 10px;
  }
  
  .search-container input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    font-size: 10px;
  }
  
  .search-container button[type="submit"] {
    margin-left: 0px;
  }
  .girls{
    width: 33%;
    height: 60%;
    position: absolute;
    
    right: 0px;
    
    
  }
  .man{
    width: 23%;
    height: 60%;
    position: absolute;
    
    
    
  }
 
}




