.cardss{
  
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   
 
  
}
.notfound{
    font-weight: 800;
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px;
}



@media screen and (max-width: 820px) {
   
    .cardss{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

@media screen and (max-width: 480px) {
    .cardss{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        
    }
}


